@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-muted text-slate-900 font-body;
}

a {
  @apply text-primary hover:text-secondary transition-colors;
}
